* {
    box-sizing: border-box;
    font-family: 'Tiro Telugu', serif;
}

body {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(141,171,207,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions {
    margin: 20px;
    border-radius: 10px;
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}