* {
    box-sizing: border-box;
    font-family: 'Tiro Telugu', serif;
}

body {
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(141,171,207,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction {
    animation: introduction-animation 3s ease-in-out forwards;
}

@keyframes introduction-animation {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.questions {
    margin: 20px 20px 40px 20px;
    border-radius: 10px;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.question {
    padding: 20px;
    width: 80%;
    max-width: 700px;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: page-animation;
    animation-duration: 2s;
    animation-delay: 1000ms;
    animation-timing-function: ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes page-animation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.answer {
    padding: 0px 0px 0px 0px;
    width: 100px;
    border: none;
    background-color: rgb(238,174,202);
    font-size: 20px;
    animation-name: page-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes page-animation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

#btn {
    padding: 7px 25px 7px 25px;
    border: 1px solid white;
    border-radius: 20px;
    background: linear-gradient(240deg, rgba(238,174,202,1) 0%, rgba(141,171,207,1) 100%);
    font-size: 20px;
    cursor: pointer;
}

#btn:hover {
    transform: scale(1.1) rotate(5deg);
}

.loading {
    position: absolute;
    top: 500px;
    border: 10px solid white; 
    border-top: 10px solid rgb(237, 112, 170);; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loading-animation 1s linear infinite;
}

@keyframes loading-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}